<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Newsletter Sign-up</title>

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body class="w-100 h-100 p-3 mx-auto flex-column">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="/contact">Contact</a>
                </nav>
                </div>
            </header>


        <main class="form-signin w-100 h-75 p-6 mx-auto text-center">
            <form action="/contact" method="POST">
                <img class="mb-4" src="images/neews-logo.png" alt="" width="120" height="120">
                <h1 class="h3 mb-3 fw-normal">Contact Us!</h1>

                <input name="name" type="text" class="form-control top" placeholder="Name" required autofocus>
                <input name="email" type="email" class="form-control middle" placeholder="Email address" required>
                <input name="subject" type="text" class="form-control middle" placeholder="Subject" required>
                <textarea name="message" class="form-control bottom" rows="10" placeholder="Message..." required></textarea>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
                
            </form>
        </main>     
        
        <footer class="w-100 h-0 p-3 mx-auto flex-column text-center">
            <p class="mt-5 mb-3 text-muted">&copy; Neews</p>
        </footer>

        <script src="/js/index.js"></script>
    </body>
</html>