html,
body {
    height: 100%;  
    background-color: #f5f5f5; 
}

main {
    align-items: center;
   
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;        
}

.form-signin .checkbox {
    font-weight: 400;  
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;          
}

.form-signin .form-control:focus {
    z-index: 2;  
}

.top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;          
}

.middle {
    border-radius: 0;
    margin-bottom: -1px;
}

.bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;      
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(71, 70, 70, 0.479);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color:rgba(71, 70, 70, 0.479);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgba(29, 29, 29, 0.651);
  border-bottom-color: rgba(29, 29, 29, 0.651);
}